<html>

<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>About - Cali Trans Logistic Inc</title>
	<link href="/css/style1.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/footer1.css">
	<link rel="stylesheet" href="/css/about1.css">
	<link rel="stylesheet" href="/css/aboutslider.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
	<!--navbar-start-->
	<table width="100%" style="background-color:#1c2841;">
		<tr>
			<td></td>
		</tr>
	</table>
	<nav>
		<ul>
			<li class="logo"><a href="/"><img src="/images/logo5.png" width="30%"></a></li>
			<li class="items"><a href="/">Home</a></li>
			<li class="items"><a class=" activeLink" href="/about">About</a></li>
			<li class="items"><a href="/workwithus">Work With Us</a></li>
			<li class="items"><a href="/contact">Contact Us</a></li>
			<li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
		</ul>
	</nav>
	<!--navbar-finish-->

	<!--slider-html-start-->
	<div class="container">

		<div class="arrow l" onclick="prev()">
			<img src="/images/arr1.png" alt="l">
		</div>
		<div class="slide slide-1">
			<div class="caption">
				<h3>About Cali Trans Logistic Inc</h3>
				<p>On time delivery that brings your goods to you shortly !</p>
			</div>
		</div>
		<div class="slide slide-2">
			<div class="caption">
				<h3>About Cali Trans Logistic Inc</h3>
				<p>Friendly logistics support that give answer to all your queries !</p>
			</div>
		</div>

		<div class="arrow r" onclick="next()">
			<img src="/images/arr2.png" alt="r">
		</div>
	</div>
	<!--slider-html-finish-->

	<!--about-content-style-start-->
	<div class="wrapper">
		<div class="section">
			<div class="left-section">
				<div class="content">
					<div class="title">
						<h2>About Cali Trans Logistic Inc</h2>
					</div>
					<p>Cali Trans Logistic Inc is a family owned company with a close-knit group of managers,
						dispatchers, and drivers. Currently we are rapidly expanding our fleet in Greater California
						Area with key contracts and lower 48 driving availability. We are proud to offer top of the line
						equipment and the ability to work with our drivers' lane and schedule preferences. We have
						worked hard to provide ample miles to maximize our driver's earning potential.<br />
						No highway is too long to get your goods delivered at your doorstep: we just make it
						happen.<br />
						As a listed logistics company (MC-1096879), we run trucks all managed by experienced managers,
						dispatchers and drivers who specialize in freight consolidations.<br />
						As our current focus is on the expansion and growing our fleet of service line in the greater
						California, we strive to drive the best performance and create a great satisfaction to our
						customers.<br />
						As an experienced CDL-A Driver, you want the rewards of a successful career. Cali Trans Logistic
						Inc delivers more miles, more loads and more pathways to expand your career than any other
						carrier. We offer various hauls. Choose the one that fits you best!</p>
				</div>
			</div>
			<div class="image-section">
				<img src="/images/collection.jpg">
			</div>
		</div>
	</div>
	<!--about-content-style-finish-->


	<!--about-hover-start-->
	<div class="services">
		<div class="s-box-container">
			<div class="s-box">
				<div class="bar"></div>
				<img alt="1" src="/images/24x7.png" /><br />
				<h1>24/7 AVAILABILITY</h1>
				<p>Our support teams are always on deck to receive and give answers to all your queries, we are here to
					give you the satisfaction you need</p>
			</div>

			<div class="s-box">
				<div class="bar"></div>
				<img alt="2" src="/images/person.png" /><br />
				<h1>EXPERIENCE AND EXPERTISE</h1>
				<p>Our well trained, expert, experienced and qualified team are gurus in the field and they in their
					performance and this has made us into achieving the best and helped in helping our customers’ grow
					their businesses</p>
			</div>

			<div class="s-box">
				<div class="bar"></div>
				<img alt="3" src="/images/expert.png" /><br />
				<h1>PROFESSIONALISM</h1>
				<p>Our drivers are well trained to deliver on time with great safety measures being followed. Our
					professionalism and quality skillset are top-notch.</p>
			</div>
		</div>
	</div>
	<!--about-hover-finish-->
	<br />
	<!--footer-start--->
	<footer class="footer">
		<div class="footer-left">
			<img src="/images/logo.png" alt=""><br />
			<p>Cali Trans Logistic Inc, as a family-owned company has a close-knit managers, dispatchers and drivers.
				Our fleet in Greater California is currently expanding with key contracts and a lower 48 driving
				availability.</p>
		</div>
		<ul class="footer-right">
			<li>
				<h2>Links</h2>
				<ul class="box">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/workwithus">Work With Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</li>
			<li class="features">
				<h2>Links</h2>
				<ul class="box">
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Disclaimer</a></li>
					<li><a href="#">Terms and Conditions</a></li>
				</ul>
			</li>
			<li>
				<h2>Address</h2>
				<ul class="box">
					<li>Contact No. </li>
					<li>209-988-8310</li>
					<li>209-924-9497</li>
					<li>425-598-3295</li>
					<li>calitrans19@gmail.com</li>
				</ul>
			</li>
		</ul>
		<div class="footer-bottom">
			<p>All Right reserved by &copy;conceptial 2020</p>
		</div>
	</footer>
	<!--footer-finish-->
	<br /><br />

	<!--slider-js--->
	<script>
		let slide = document.querySelectorAll('.slide');
		var current = 0;

		function cls() {
			for (let i = 0; i < slide.length; i++) {
				slide[i].style.display = 'none';
			}
		}

		function next() {
			cls();
			if (current === slide.length - 1) current = -1;
			current++;

			slide[current].style.display = 'block';
			slide[current].style.opacity = 0.4;

			var x = 0.4;
			var intX = setInterval(function () {
				x += 0.1;
				slide[current].style.opacity = x;
				if (x >= 1) {
					clearInterval(intX);
					x = 0.4;
				}
			}, 100);

		}

		function prev() {
			cls();
			if (current === 0) current = slide.length;
			current--;

			slide[current].style.display = 'block';
			slide[current].style.opacity = 0.4;

			var x = 0.4;
			var intX = setInterval(function () {
				x += 0.1;
				slide[current].style.opacity = x;
				if (x >= 1) {
					clearInterval(intX);
					x = 0.4;
				}
			}, 100);

		}

		function start() {
			cls();
			slide[current].style.display = 'block';
		}
		start();
	</script>
	<!--slider-js-finish-->

	<!--navbar-js-start--->
	<script>
		$(document).ready(function () {
			$('.btn').click(function () {
				$('.items').toggleClass("show");
				$('ul li').toggleClass("hide");
			});
		});
	</script>
	<!--navbar-js-finish--->
</body>

</html>