<html>

<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>Contact - Cali Trans Logistic Inc</title>
	<link rel="stylesheet" href="/css/footer1.css">
	<link rel="stylesheet" href="/css/contactslider.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/map.css">
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<body>
	<!-- Popup Start -->
	<div>
		<div class="popup" id="popup">
			<div class="popup__content ">
				<h2 class="heading-secondary u-margin-bottom-small">
					Thank you for contacting us.
				</h2>
				<button type="button" class="btn btn-success">Success</button>
			</div>
		</div>
	</div>
	<!-- Popup End -->
	<!--navbar-start-->
	<table width="100%" style="background-color:#1c2841;">
		<tr>
			<td></td>
		</tr>
	</table>
	<nav>
		<ul>
			<li class="logo"><a href="/"><img src="/images/logo5.png" width="30%"></a></li>
			<li class="items"><a href="/">Home</a></li>
			<li class="items"><a href="/about">About</a></li>
			<li class="items"><a href="/workwithus">Work With Us</a></li>
			<li class="items"><a class=" activeLink" href="/contact">Contact Us</a></li>
			<li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
		</ul>
	</nav>
	<!--navbar-finish-->

	<!--slider-html-start-->
	<div class="container">

		<div class="arrow l" onclick="prev()">
			<img src="/images/arr1.png" alt="l">
		</div>
		<div class="slide slide-1">
			<div class="caption">
				<h3>Contact Us</h3>
				<p>On time delivery that brings your goods to you shortly !</p>
			</div>
		</div>
		<div class="slide slide-2">
			<div class="caption">
				<h3>Contact Us</h3>
				<p>Friendly logistics support that give answer to all your queries !</p>
			</div>
		</div>

		<div class="arrow r" onclick="next()">
			<img src="/images/arr2.png" alt="r">
		</div>
	</div>
	<!--slider-html-finish-->
	<br /><br />

	<!--contact-style-start-->
	<div class="st">
		<div class="contact-in">
			<div class="contact-map">
				<iframe
					src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.54739032939!2d-120.97716098527859!3d37.589274279793656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8091ab4d465b5117%3A0x960749c54f35636b!2s1301%20Fannell%20Dr%2C%20Ceres%2C%20CA%2095307%2C%20USA!5e0!3m2!1sen!2sin!4v1603723720089!5m2!1sen!2sin"
					width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
					tabindex="0"></iframe>
			</div>
			<div class="contact-form">
				<h1>Get in touch</h1>
				<form method="POST" name="contact-form" class="contact-form">
					<input type="text" placeholder="Name" class="contact-form-txt" name="Name" required />
					<input type="email" placeholder="Email" class="contact-form-txt" name="Email" required />
					<textarea placeholder="Message" class="contact-form-textarea" name="Message" required></textarea>
					<input name="Time" class="time" type="hidden">
					<input type="submit" name="Submit" class="contact-form-btn" />
				</form>
			</div>
		</div>
	</div>
	<!--contact-style-finish-->
	<div style="margin:100px 0;">
		<p style="color:#576975; text-align:center; font-size:42px; font-weight:500; letter-spacing:1px;">Office<font
				color="#4a90e2">Add</font>ress</p>
		<p style="text-align:center; margin-top:6px; color:#aaa;">1301 Fannell Dr, Ceres, CA, 95307, United States</p>
		<br /><br /><br />
		<p style="color:#576975; text-align:center; font-size:42px; font-weight:500; letter-spacing:1px;">Contact<font
				color="#4a90e2"> In</font>fo</p>
		<p style="text-align:center; margin-top:6px; color:#aaa;">Mr. Mayank: 209-988-8310</p>
		<p style="text-align:center; margin-top:6px; color:#aaa;">Mr. Ekam: 209-924-9497</p>
		<p style="text-align:center; margin-top:6px; color:#aaa;">Mr. Yashu: 425-598-3295</p>
		<p style="text-align:center; margin-top:6px; color:#aaa;">calitrans19@google.com</p>
	</div>




	<!--footer-start--->
	<footer class="footer">
		<div class="footer-left">
			<img src="/images/logo.png" alt=""><br />
			<p>Cali Trans Logistic Inc, as a family-owned company has a close-knit managers, dispatchers and drivers.
				Our fleet in Greater California is currently expanding with key contracts and a lower 48 driving
				availability.</p>
		</div>
		<ul class="footer-right">
			<li>
				<h2>Links</h2>
				<ul class="box">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/workwithus">Work With Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</li>
			<li class="features">
				<h2>Links</h2>
				<ul class="box">
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Disclaimer</a></li>
					<li><a href="#">Terms and Conditions</a></li>
				</ul>
			</li>
			<li>
				<h2>Address</h2>
				<ul class="box">
					<li>Contact No. </li>
					<li>209-988-8310</li>
					<li>209-924-9497</li>
					<li>425-598-3295</li>
					<li>calitrans19@google.com</li>
				</ul>
			</li>
		</ul>
		<div class="footer-bottom">
			<p>All Right reserved by &copy;conceptial 2020</p>
		</div>
	</footer>
	<!--footer-finish-->
	<br /><br />
	<!--slider-js--->
	<script>
		let slide = document.querySelectorAll('.slide');
		var current = 0;

		function cls() {
			for (let i = 0; i < slide.length; i++) {
				slide[i].style.display = 'none';
			}
		}

		function next() {
			cls();
			if (current === slide.length - 1) current = -1;
			current++;

			slide[current].style.display = 'block';
			slide[current].style.opacity = 0.4;

			var x = 0.4;
			var intX = setInterval(function () {
				x += 0.1;
				slide[current].style.opacity = x;
				if (x >= 1) {
					clearInterval(intX);
					x = 0.4;
				}
			}, 100);

		}

		function prev() {
			cls();
			if (current === 0) current = slide.length;
			current--;

			slide[current].style.display = 'block';
			slide[current].style.opacity = 0.4;

			var x = 0.4;
			var intX = setInterval(function () {
				x += 0.1;
				slide[current].style.opacity = x;
				if (x >= 1) {
					clearInterval(intX);
					x = 0.4;
				}
			}, 100);

		}

		function start() {
			cls();
			slide[current].style.display = 'block';
		}
		start();
	</script>
	<!--slider-js-finish-->

	<!--navbar-js-start--->
	<script>
		$(document).ready(function () {
			$('.btn').click(function () {
				$('.items').toggleClass("show");
				$('ul li').toggleClass("hide");
			});
		});
	</script>
	<!--navbar-js-finish--->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		const scriptURL =
			"https://script.google.com/macros/s/AKfycbwO2UclB7HiA_rL1_gOur5q8qCz8hC8MJ8qDAd5fUIt7QqlJOQ/exec";
		const form = document.forms["contact-form"];

		$(".btn-success").click(function () {
			$(".popup").removeClass("active");
			$(".popup__content").removeClass("active");
			location.reload(true);
		});

		form.addEventListener("submit", (e) => {
			$(".time").val(new Date().toISOString());
			e.preventDefault();
			console.log("h11");
			$(".popup").addClass("active");
			$(".popup__content").addClass("active");
			e.preventDefault();
			fetch(scriptURL, { method: "POST", body: new FormData(form) });
		});
	</script>
</body>

</html>