<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/footer1.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<footer class="footer">
		<div class="footer-left">
			<img src="/images/logo.png" alt="">
			<p>Cali Trans Logistic Inc, as a family-owned company has a close-knit managers, dispatchers and drivers.
				Our fleet in Greater Seattle is currently expanding with key contracts and a lower 48 driving
				availability.</p>
		</div>
		<ul class="footer-right">
			<li>
				<h2>Links</h2>
				<ul class="box">
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Work With Us</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</li>
			<li class="features">
				<h2>Links</h2>
				<ul class="box">
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Disclaimer</a></li>
					<li><a href="#">Terma and Conditions</a></li>
				</ul>
			</li>
			<li>
				<h2>Address</h2>
				<ul class="box">
					<li><a href="#">Contact No. </a></li>
					<li><a href="#">209-988-8310</a></li>
					<li><a href="#">209-924-9497</a></li>
					<li><a href="#">425-598-3295</a></li>
					<li><a href="#">calitrans19@google.com</a></li>
				</ul>
			</li>
		</ul>
		<div class="footer-bottom">
			<p>All Right reserved by &copy;conceptial 2020</p>
		</div>
	</footer>
</body>

</html>