<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cali Trans Logistic Inc</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/slide.css">
  <link rel="stylesheet" href="/css/style1.css">
  <link rel="stylesheet" href="/css/footer1.css">
  <link rel="stylesheet" href="/css/slider1.css">
  <link rel="stylesheet" href="/css/cont.css" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <table width="100%" style="background-color:#1c2841;">
    <tr>
      <td></td>
    </tr>
  </table>
  <nav>
    <ul>
      <li class="logo"><a class=" activeLink" href="/"><img src="/images/logo5.png" width="30%"></a></li>
      <li class="items"><a class=" activeLink" href="/">Home</a></li>
      <li class="items"><a href="/about">About</a></li>
      <li class="items"><a href="/workwithus">Work With Us</a></li>
      <li class="items"><a href="/contact">Contact Us</a></li>
      <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>


  <!--slider-html-start-->
  <div class="container">

    <div class="arrow l" onclick="prev()">
      <img src="/images/arr1.png" alt="l">
    </div>
    <div class="slide slide-1">
      <div class="caption">
        <h3>Welcome to Cali Trans Logistic Inc</h3>
        <p>On time delivery that brings your goods to you shortly !</p>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="caption">
        <h3>Welcome to Cali Trans Logistic Inc</h3>
        <p>Friendly logistics support that give answer to all your queries !</p>
      </div>
    </div>

    <div class="arrow r" onclick="next()">
      <img src="/images/arr2.png" alt="r">
    </div>
  </div>
  <!--slider-html-finish-->
  <br /><br /><br />

  <!---services-section-start--->
  <div class="services">

    <div class="s-heading">
      <h1>Our Ser<font color="#4a90e2">vic</font>es</h1>
      <p>Cali Trans Logistic Inc, best moves for business beyond boundaries</p>
    </div>

    <div class="s-box-container">
      <div class="s-box">
        <div class="bar"></div>
        <img alt="1" src="/images/packaging1.png" /><br />
        <h1>PACKAGING</h1>
        <p>Our flexible wide range of safe and clean packaging solutions gives us the ability to handle varieties of
          jobs demand or projects</p>
      </div>

      <div class="s-box">
        <div class="bar"></div>
        <img alt="2" src="/images/cargo1c.png" /><br />
        <h1>CARGO</h1>
        <p>With our reliable, cost-effective and reliable solutions, we offer ocean freight service for import, export,
          and cross-trade cargo movements</p>
      </div>

      <div class="s-box">
        <div class="bar"></div>
        <img alt="3" src="/images/house1.png" /><br />
        <h1>WAREHOUSING</h1>
        <p>Its chain management, food grade, and temperature-controlled offers both long-term and short-term warehousing
          options with surveillance security</p>
      </div>

    </div>

    <div class="s-box-container">
      <div class="s-box">
        <div class="bar"></div>
        <img alt="1" src="/images/earth1.png" /><br />
        <h1>DOOR-TO-DOOR DELIVERY</h1>
        <p>We ensure consistent door-to-door delivery of documents and packages. We offer delivery deadlines which in
          turn depends on the destination and formalities</p>
      </div>

      <div class="s-box">
        <div class="bar"></div>
        <img alt="2" src="/images/road1.png" /><br />
        <h1>GROUND TRANSPORT</h1>
        <p>We connect you to transportation solutions that grow your business be it container trucks, large cargo
          haulers, flat beds, we got you covered</p>
      </div>

      <div class="s-box">
        <div class="bar"></div>
        <img alt="3" src="/images/box12.png" /><br />
        <h1>LOGISTIC SUPPORT</h1>
        <p>Our highly experienced and trained teams are available to assist and support you in every way possible</p>
      </div>

    </div>

  </div>
  <!--services-section-finish--->
  <br />
  <!--slider-start-->
  <div class="slideshow">
    <div class="slideshow-item">
      <img src="/images/truck12.jpg" alt="">
      <div class="slideshow-item-text">
        <h5>About Us</h5>
        <p>Cali trans Logistic Inc, is a family-owned company of close-knit group of managers, dispatchers, and drivers
          who specialize in providing freight consolidation, LTL, Shipment services. Currently, we are expanding our
          fleet in the Greater California area with key contracts and 48 drivers availability. We are proud to offer top
          of the line equipment and services and our ability to work with our driver's lane and schedule preferences in
          all the markets.</p>
      </div>
    </div>

    <div class="slideshow-item">
      <img src="/images/truck123.jpg" alt="">
      <div class="slideshow-item-text">
        <h5>About Us</h5>
        <p>We focus on striving for the best performance and attaining high customer satisfaction. We provide ample
          miles to maximize our driver's earning potential and providing a flexible work schedule which helps us to
          manage all our customer loads effectively and on time.</p>
      </div>
    </div>

    <div class="slideshow-item">
      <img src="/images/truck1234.jpg" alt="">
      <div class="slideshow-item-text">
        <h5>About Us</h5>
        <p>No highway is too long to get your goods delivered at your doorstep: we just make it happen.
        <p>
      </div>
    </div>
  </div>
  <br /><br />
  <!--slider-finish-->

  <!--Information-start-->
  <div class="container1">
    <span class="big-circle"></span>
    <img src="/images/shape.png" class="square" alt="" />
    <div class="form">
      <div class="contact-info">
        <h3 class="title">For Owner Operator</h3>
        <p class="text">
          1. Gross<br /><br />2. Always Hook & Drop<br /><br />3.Didicated Lanes Available.<br /><br />4. Miles 4500 to
          5500 Per Week<br /><br />5. Pay for Empty and Loaded Miles<br /><br />6. 24Hours Dispatch Services
          Provided<br /><br />7. Weekly Settlements with Direct Deposit Options<br /><br />8. 3rd Party Insurance
          Options, Including 3rd Health Party, Non-Trucking Liability, Physical Damage, Occupational Accident and
          More...
        </p>

        <div class="info">
          <div class="information">
            <img src="/images/location1.png" class="icon" alt="" />
            <p>1301 Fannell Dr, Ceres, CA, 95307</p>
          </div>
          <div class="information">
            <img src="/images/email1.png" class="icon" alt="" />
            <p>calitrans19@gmail.com</p>
          </div>
          <div class="information">
            <img src="/images/phone1.png" class="icon" alt="" />
            <p>209-988-8310</p>
          </div>
        </div>


      </div>

      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>

        <form action="index.html" autocomplete="off">
          <h3 class="title">For Driver</h3>
          <p class="text12">
            1. Now Hiring CDL Class A Driver<br /><br />a) Team : 0.60 + CPM & 6000 + Miles a Week<br /><br />b) Solo :
            0.50 + CPM & 3000 + Miles a Week<br /><br />2. Weekly Home Time<br /><br />3. Direct Pay
            Weekly<br /><br />4. Always Hook & Drop<br /><br />5. Additional Pay For Layover (fi laid over for
            24+hours)<br /><br />
          </p>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/script.js"></script>
  <!--information-end-->




  <!--footer-start--->
  <footer class="footer">
    <div class="footer-left">
      <img src="/images/logo.png" alt=""><br />
      <p>Cali Trans Logistic Inc, as a family-owned company has a close-knit managers, dispatchers and drivers. Our
        fleet in Greater California is currently expanding with key contracts and a lower 48 driving availability.</p>
    </div>
    <ul class="footer-right">
      <li>
        <h2>Links</h2>
        <ul class="box">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/workwithus">Work With Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </li>
      <li class="features">
        <h2>Links</h2>
        <ul class="box">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </li>
      <li>
        <h2>Address</h2>
        <ul class="box">
          <li>Contact No. </li>
          <li>209-988-8310</li>
          <li>209-924-9497</li>
          <li>425-598-3295</li>
          <li>calitrans19@google.com</li>
        </ul>
      </li>
    </ul>
    <div class="footer-bottom">
      <p>All Right reserved by &copy;conceptial 2020</p>
    </div>
  </footer>
  <!--footer-finish-->


  <br /><br />
  <!--slider-js--->
  <script>
    let slide = document.querySelectorAll('.slide');
    var current = 0;

    function cls() {
      for (let i = 0; i < slide.length; i++) {
        slide[i].style.display = 'none';
      }
    }

    function next() {
      cls();
      if (current === slide.length - 1) current = -1;
      current++;

      slide[current].style.display = 'block';
      slide[current].style.opacity = 0.4;

      var x = 0.4;
      var intX = setInterval(function () {
        x += 0.1;
        slide[current].style.opacity = x;
        if (x >= 1) {
          clearInterval(intX);
          x = 0.4;
        }
      }, 100);

    }

    function prev() {
      cls();
      if (current === 0) current = slide.length;
      current--;

      slide[current].style.display = 'block';
      slide[current].style.opacity = 0.4;

      var x = 0.4;
      var intX = setInterval(function () {
        x += 0.1;
        slide[current].style.opacity = x;
        if (x >= 1) {
          clearInterval(intX);
          x = 0.4;
        }
      }, 100);

    }

    function start() {
      cls();
      slide[current].style.display = 'block';
    }
    start();
  </script>
  <!--slider-js-finish-->

  <!--navbar-js-start--->
  <script>
    $(document).ready(function () {
      $('.btn').click(function () {
        $('.items').toggleClass("show");
        $('ul li').toggleClass("hide");
      });
    });
  </script>
  <!--navbar-js-finish--->


</body>

</html>